.footer {
  grid-area: footer;
  display: grid;
  background-color: var(--blue);
  color: var(--white);
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 20px 20px; */
  grid-gap: 10px;
  padding: 10px 30px;
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-copyright {
  grid-column: span 2;
  justify-self: center;
}