:root {
  --dark-blue: #146C94;
  --blue: #19A7CE;
  --light-blue: #AFD3E2;
  --white: #F6F1F1;
  --text-color-dark: #2a2929;
  color: #2a2929;
}

img {
  animation: fadeIn 1s;
  box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.2);
}

