:root {
  --dark-blue: #146C94;
  --blue: #19A7CE;
  --light-blue: #AFD3E2;
  --white: #F6F1F1;
  --text-color-dark: #2a2929;
  color: #2a2929;
}

img {
  animation: fadeIn 1s;
}

.page-header {
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-blue);
  margin-top: 0;
  margin-bottom: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #fff;
}
