.price-page {
  margin: 0 60px;
}

.price-page__header {
  display: flex;
  justify-content: center;
}

.price-page__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
}