.price-page {
  margin: 0 70px;
  margin-bottom: 70px;
}

.price-page__header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 200;
}

.price-page__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
}

.horizontal-pricelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  margin-top: 60px;
}

.background-pricelist {
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to bottom,
    #ffffff84,
    #ffffff7d
  ), url("../../../../public/images/pastel-paws-hearts-pattern-background-pets_654662-186.jpg");
}