.card {
  display: grid;
  grid-template-rows: min-content;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.card-header {
  margin: 20px 0;
}

.price-item {
  justify-self: start;
  height: 70px;
  width: 100%;
  margin-top: 10px;
}

hr {
  border: 0.2px solid #b9b6b6;
  width: 100%;
  margin: 0;
}