.card {
  display: grid;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--light-blue);
}

.card-header {
  width: 70%;
  border-radius: 30px;
  display: grid;
  background-color: var(--blue);
  transform: translateY(-50px);
}

.card-header__text {
  margin: auto;
  padding: 10px;
  font-size: 18px;
  color: var(--white);
}

.card-image {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0%, 100% 0%, 100% 85%, 0 98%);
  filter: opacity(70%);
}

.card-image > img {
  width: 100%;
  object-fit: contain;
}

.card-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  justify-content: center;
  margin: 20px;
  transform: translateY(-40px);
}

.card-content__names {
}

.card-content__prices {
  padding-left: 30px;
  border-left: 1px solid var(--blue);
}

.price-item {
  width: 100%;
  margin-top: 10px;
}