.horizontal-list-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--dark-blue);
  background: linear-gradient(60deg, var(--dark-blue) 0%, rgba(25,167,206,1) 60%, rgba(175,211,226,1) 100%);
  border-radius: 10px;
  color: var(--white);
  overflow: hidden;
  grid-gap: 20px;
}

.horizontal-list-card-image {
  display: flex;
  border-radius: 0 60% 10% 0;
  overflow: hidden;
}

.horizontal-list-card-image > img {
  width: 100%;
  object-fit: cover; 
}
.horizontal-card-content__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.horizontal-list-card-content {
  padding: 20px 0;
}

.horizontal-list-card__header > h6 {
  font-size: 24px;
  margin: 10px 0;
}

.horizontal-price-item > p {
  margin: 8px 0;
}